/* ------- Layout --------- */

* {
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.wrapper {
    width: 90%;
    max-width: 980px;
    margin: 0 auto;
}


/* ------- Search bar --------- */

input {
    padding: 15px;
    margin: 30px;
    width: 65%;
}

input::placeholder {
    font-size: .85em;
}


/* ------- CSS Grid --------- */

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    gap: 30px;
}