/* ------- Layout --------- */

* {
    font-family: 'Poppins', sans-serif;
    color: #9b9b9b;
    box-sizing: border-box;
}

.wrapper {
    width: 90%;
    max-width: 980px;
    margin: 0 auto;
    text-align: center;
}


/* ------- Search bar --------- */

input {
    padding: 15px;
    margin: 30px;
    width: 55%;
    border: 2px solid #dedede;
    border-radius: 6px;
}

input::placeholder {
    font-size: .8em;
}


/* ------- CSS Grid --------- */

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
    gap: 30px;
    justify-content: center;
}